body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

.header .header__icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.header .header__icons span{
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav__logo{
    margin-left: 50px;
}

nav .nav__logo img{
    width: 220px;
    margin-top: 10px;
}

nav .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile a {
    color: black;
    border-bottom: 1px solid black;
}

main {
    height: calc(100% - 140px);
    font-family: monospace;
}

.main__container {
    height: 100%;
    background-image: url(/assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.main__title {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 40px;
    letter-spacing: 10px;
    color: white;
}

.main__button_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    margin-top: 20px;
    background-color: #47cfac;
}

.main__button a {
    font-size: 20px;
    font-weight: bold;
}